/* Generic style for the body structure */
article, footer, header, form, div, section { 
    display: block;
 }

 address, article, body, div, footer, h1, h2, h3, html, img, li, main, ol, p, section, span, ul {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    background: transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;  
 }


/* Set the default page element styles */
body {
    line-height: 1.2em;
 }

 ul, ol {
    list-style: none;
 }


/* HTML and Body styles */
html {
    background: linear-gradient(to bottom,#e9e0c9, rgb(122, 20, 255),#e9e0c9);
    font-family: Verdana, Geneva, sans-serif;
    min-height: 100%;
 }

 body { 
    margin: 0px auto;
    min-width: 340px;
    max-width: 1020px;  
    width: 100%;
    min-height: 100%;
 }