/* Generic style for the body structure */
article, footer, header, form, div, section { 
    display: block;
 }

 address, article, body, div, footer, h1, h2, h3, html, img, li, main, ol, p, section, span, ul {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    background: transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;  
 }


/* Set the default page element styles */
body {
    line-height: 1.2em;
 }

 ul, ol {
    list-style: none;
 }


/* HTML and Body styles */
html {
    background: linear-gradient(to bottom,#e9e0c9, rgb(122, 20, 255),#e9e0c9);
    font-family: Verdana, Geneva, sans-serif;
    min-height: 100%;
 }

 body { 
    margin: 0px auto;
    min-width: 340px;
    max-width: 1020px;  
    width: 100%;
    min-height: 100%;
 }

/* Header styles */
header img#logoImg {
    display: block;
    width: 100%;
 }

header {
    border-bottom: 1px solid #e9e0c9;
    color: white;
    position: relative;
    width: 100%;
 }

header > h1 {
    position: absolute;
    top: 15px;
    right: 10px;
    text-align: right;  
    font-size: 1.1em;
    letter-spacing: 0.05em;
    line-height: 1em;
    font-family: sans-serif;
    font-weight: normal;
    color: rgba(255, 0, 192, 0.7);
 }


/* Styles for the Countdown Clock */
div#countDown {
    width: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    margin-top: 10px;
 }

div#countDown div {
    display: block;
    text-align: center;
    width: 100%;
    line-height: 1.5em;
    font-size: 0.5em;
    font-family: segment14, sans-serif;
    color: white;
    background: rgb(60, 0, 137);
    margin: 0px 1px;
    padding: 5px;
    color: white;
 }

div#countDown div span {
    font-size: 2em;   
 }


/* Time Clock Styles */
div#currentTime {
    display: block;
    position: absolute;
    top: 35px;
    right: 55px;   
    background-color: transparent;
    border: hidden;
    color: rgba(255, 82, 192, 0.8);
    width: 140px;
    font-size: 1.1em;
    line-height: 1.1em;
    font-family: sans-serif;
    font-weight: normal;
 }

div#currentTime span {
    display: block;
    width: 100%;
 }


/* Article Styles */
article { 
    background: white;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap; 
 }
 
article section {
    -webkit-flex: 1 1 300px;
    flex: 1 1 300px;
 }
 
section h1 {
    font-size: 1.2em;
    text-align: center;
    margin: 10px;
    color: rgb(60, 0, 137)
 }

section h2 {
   font-size: 1.0em;
   text-align: center;
   margin: 7px;
   color: rgb(60, 0, 137)
}
 
section p, form {
    margin: 20px;
}


/* Page footer styles */
footer {
    clear: left;
    display: block;
 }
 
footer address {
    display: block;
    font-style: normal;
    text-align: center;
    font-size: 0.5em;
    line-height: 9px;
    height: 10px;
    color: black;
    font-family: sans-serif
 }

footer address p {
    color: white;
    font-family: sans-serif;
    background-color: rgb(60, 0, 137);
 }
 
